{% extends 'app1/base.html' %}

{% block titel %} 
Neuer Tagebuch Eintrag 
{% endblock titel %} 

{% block h1 %}
Tagebuchneu
{% endblock h1 %}

{% block content %}
<form method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="bewertungName">Bewertungs Name</label>
    <input type="text" class="form-control" id="bewertungName" aria-describedby="bewertungHelp" name="bewertungname" value="">
    <small id="bewertungHelp" class="form-text text-muted">Bewertungs Name</small>
  </div>
  <div class="form-group">
    <label for="bKommentar">Kommentar</label>
    <input type="text" class="form-control" id="bKommentar" aria-describedby="kommentarHelp" name="bkommentar" value="">
    <small id="kommentarHelp" class="form-text text-muted">Bewertungs Kommentar</small>
  </div>
  <div class="form-group">
    <label for="Wert">Wert</label>
    <input type="text" class="form-control" id="Wert" aria-describedby="wertHelp" name="wert" value="">
    <small id="wertHelp" class="form-text text-muted">Bewertungs Wert</small>
  </div>
  <button type="submit" class="btn btn-primary" name ="button" value="save">Speichern</button>
  <button type="submit" class="btn btn-warning" name="button" value="delete">Löschen</button>
  <button type="submit" class="btn btn-danger" name="button"value="cancel">Abbruch</button>
</form>
{% endblock content %}


