{% extends 'app1/base.html' %}

{% block titel %} 
Detailansicht Tagebuch 
{% endblock titel %} 

{% block h1 %}
Tagebuchdetails
{% endblock h1 %}

{% block content %}
<form method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="tgbName">Name</label>
    <input type="text" class="form-control" id="tgbName" aria-describedby="nameHelp" name="tgbname" value="">
    <small id="nameHelp" class="form-text text-muted">Eingegebener Name</small>
  </div>
  <div class="form-group">
    <label for="tbgKommentar">Kommentar</label>
    <input type="text" class="form-control" id="tbgKommentar" aria-describedby="kommentarHelp" name="tgbkommentar" value="">
    <small id="kommentarHelp" class="form-text text-muted">abgegebener Kommentar</small>
  </div>
  <div class="form-group">
    <label for="tbgBewertung">Bewertung</label>
    <select name="tgbbewertung" id="tgbBewertung">
      <option>Sehr Gut</option>
      <option>Gut</option>
      <option>Befriedigend</option>
      <option>Ausreichend</option>
      <option>Ungenügend</option>
      <option>Mangelhaft</option>
    </select>
    <small id="BewertungHelp" class="form-text text-muted">Bitte eine Bewertung eingeben</small>
  </div>
  <button type="submit" class="btn btn-primary" name ="button">Speichern</button>
  <button type="submit" class="btn btn-warning" name="loeschen" >Löschen</button>
  <button type="submit" class="btn btn-danger" name="Abbruch">Abbruch</button>
</form>
{% endblock content %}


